<div>
  <app-navbar></app-navbar>
<app-slider></app-slider>
<div class="clearfix"></div>
<section class="fade-in">
  <app-about-project></app-about-project>
</section>
<section class="slide-up">
  <app-project-details></app-project-details>
</section>
<section class="fade-in">
  <app-floor-plan></app-floor-plan>
</section>
<section class="fade-in">
  <app-gallery></app-gallery>
</section>
<section class="contact-us-section  fade-in">
  <app-contact-us ngSkipHydration></app-contact-us>
</section>


</div>