<ngb-carousel [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">
    <ng-template ngbSlide>
      <div class="carousel-item-wrapper">
        <img src="../img/banner.png" alt="Random first slide" />
  
        <!-- Black Overlay -->
        <div class="overlay"></div>
  
        <!-- Centered Text Content -->
        <div class="carousel-caption centered-text">
          <h3 style="margin-top: 9rem;" class="pulse-text">MSN One &#64;Neoplis</h3>
          <p class="pulse-text delay">Where Luxury Life Blends With Serenity</p>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>
  